

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
  background: #0f1930;
}

body {
  font-family: 'Poppins', sans-serif;
}


img {
  max-width: 100%;
  display: block;
}


a {
  text-decoration: none;
  color: inherit;
}


input,
button,
textarea,
select {
  font: inherit;
}


#app {
  overflow-x: hidden;
}